* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }

img{
    object-fit: cover
}
a {
  color: inherit;
  text-decoration: none;
}

.back-img {
    background-image: url('/images/a2.png');
    
}
/*------------------------layout Page----------------*/
@import url(./Layout.css);
/*------------------------Home Page----------------*/
@import url(./index.css);
/*------------------------Log Page----------------*/
@import url(./Log.css);
/*------------------------cart Page----------------*/
@import url(./Profile.css);
/*------------------------product Page----------------*/
@import url(./Product.css);

/*------------------------cart Page----------------*/
@import url(./cart.css);
/*------------------------ManageProduct Page---------------*/
@import url(./ManageProduct.css);

/*------------------------Pagination Page---------------*/
@import url(./Pagination.css);



/*------------------------ManageProduct Page---------------*/
@import url(./Responsive.css);
/*------------------------ManageProduct Page--------------*/
@import url(./SideBar.css);





